<html ng-app="socketApp" ng-init="mainFunctionality=false;messages=[];users=[];showUsername=true">
<head>
    <title> Test assignment </title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/SocketController.js"></script>
    <script src="/js/Socket.js"></script>
</head>
<body ng-controller="SocketController" >
    <div ng-show="showUsername">
        Name: <input type="text" ng-model="name" />
        <button type="button" name="button" ng-click="setUsername()">set Username</button>
        {{warning}}
        <br />
    </div>
    <div ng-show="mainFunctionality">
        <!--<input type="text" ng-model="message" placeholder="enter message">-->
        <textarea rows="4" cols="50" ng-model="message"></textarea>
        <br />
        <button type="button" name="button" ng-click="sendMessage()" >Send Message</button>
        <br />

        <input ng-model="nameSwitch" type="text" name="name" value="" placeholder="Change user name!">
        <button type="button" name="button" ng-click="changeUsername()">Change Username</button>
        <br />

        <select ng-model="currentStatus">
            <option value="no status">No Status</option>
            <option value="sad">Sad</option>
            <option value="happy">Happy</option>
        </select>
        <button type="button" name="button" ng-click="changeUserStatus()">Change Status</button>
        <br />

        <button type="button" name="button" ng-click="leaveConversation()">Leave Conversation</button>
        <br />

        <div ng-repeat="message in messages"><b>{{message.userName}}</b> : {{message.message}}</div>
        <div ng-repeat="user in users"><b>{{user.userName}}</b> - <b>{{user.userStatus}}</b></div>
    </div>
</body>
</html>